@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Sora&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Akaya Telivigala", sans-serif;
	overflow-x: hidden;
	padding: 0 5rem;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}
